.wrapper-div-20391208 {
  --image-0: url(../graphics/graphics0.png);
  --image-1: url(../graphics/graphics1.png);
  --image-2: url(../graphics/graphics2.png);
  --image-3: url(../graphics/graphics3.png);
  --image-4: url(../graphics/graphics4.png);
  --image-5: url(../graphics/graphics5.png);
  --image-6: url(../graphics/graphics6.png);
  --image-7: url(../graphics/graphics7.png);
  --image-8: url(../graphics/graphics8.png);
  --image-9: url(../graphics/graphics9.png);
  --image-10: url(../graphics/graphics10.png);
  --image-11: url(../graphics/graphics11.png);
  --image-12: url(../graphics/graphics12.png);
  --image-13: url(../graphics/graphics13.png);
  --image-14: url(../graphics/graphics14.png);
  --image-15: url(../graphics/graphics15.png);
  --image-16: url(../graphics/graphics16.png);
  --image-17: url(../graphics/graphics17.png);
  --image-18: url(../graphics/graphics18.png);
  --image-19: url(../graphics/graphics19.png);
  --image-20: url(../graphics/graphics20.png);
  --image-21: url(../graphics/graphics21.png);
  --image-22: url(../graphics/graphics22.png);
  --image-23: url(../graphics/graphics23.png);
  --image-24: url(../graphics/graphics24.png);
  --image-25: url(../graphics/graphics25.png);
  --image-26: url(../graphics/graphics26.png);
  --image-27: url(../graphics/graphics27.png);
  --image-28: url(../graphics/graphics28.png);
  --image-29: url(../graphics/graphics29.png);
  --image-30: url(../graphics/graphics30.png);
  --image-31: url(../graphics/graphics31.png);
  --image-32: url(../graphics/graphics32.png);
  --image-33: url(../graphics/graphics33.png);
  --image-34: url(../graphics/graphics34.png);
  --image-35: url(../graphics/graphics35.png);
  --image-36: url(../graphics/graphics36.png);
  --image-37: url(../graphics/graphics37.png);
  --image-38: url(../graphics/graphics38.png);
  --image-39: url(../graphics/graphics39.png);
  position: relative;
  max-width: 1440px;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.how-does-petize-20391209-0 {
  /* font-size: 59px; */
  letter-spacing: -1.2px;
  /* line-height: 60px; */

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.nodeBg-20391214 {
  opacity: 1;
  background-image: var(--image-0);
}
.nodeBg-20391215 {
  opacity: 1;
  background-image: var(--image-1);
}
.nodeBg-20391216 {
  opacity: 1;
  background-image: var(--image-2);
}
.nodeBg-20391217 {
  opacity: 1;
  background-image: var(--image-3);
}
.nodeBg-20391218 {
  opacity: 1;
  background-image: var(--image-4);
}
.nodeBg-20391219 {
  opacity: 1;
  background-image: var(--image-5);
}
.nodeBg-20391220 {
  opacity: 1;
  background-image: var(--image-6);
}
.easy-browsing-20391222-0 {
  font-size: 27px;
  letter-spacing: -0.56px;
  line-height: 42px;

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}

.effortlessly-ex-20391223-0 {
  font-size: 19px;
  letter-spacing: -0.4px;
  line-height: 30px;

  font-family: Abhaya Libre;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.nodeBg-20391228 {
  opacity: 1;
  background-image: var(--image-7);
}
.nodeBg-20391230 {
  opacity: 1;
  background-image: var(--image-8);
}
.nodeBg-20391232 {
  opacity: 1;
  background-image: var(--image-9);
}
.nodeBg-20391234 {
  opacity: 1;
  background-image: var(--image-10);
}
.nodeBg-20391237 {
  opacity: 1;
  background-image: var(--image-11);
}
.nodeBg-20391239 {
  opacity: 1;
  background-image: var(--image-12);
}
.nodeBg-20391241 {
  opacity: 1;
  background-image: var(--image-13);
}
.nodeBg-20391243 {
  opacity: 1;
  background-image: var(--image-14);
}
.nodeBg-20391245 {
  opacity: 1;
  background-image: var(--image-15);
}
.nodeBg-20391247 {
  opacity: 1;
  background-image: var(--image-16);
}
.nodeBg-20391249 {
  opacity: 1;
  background-image: var(--image-17);
}
.nodeBg-20391251 {
  opacity: 1;
  background-image: var(--image-18);
}
.nodeBg-20391253 {
  opacity: 1;
  background-image: var(--image-19);
}
.nodeBg-20391255 {
  opacity: 1;
  background-image: var(--image-20);
}
.nodeBg-20391260 {
  opacity: 1;
  background-image: var(--image-21);
}
.nodeBg-20391262 {
  opacity: 1;
  background-image: var(--image-22);
}
.nodeBg-20391265 {
  opacity: 1;
  background-image: var(--image-23);
}
.nodeBg-20391267 {
  opacity: 1;
  background-image: var(--image-24);
}
.nodeBg-20391271 {
  opacity: 1;
  background-image: var(--image-25);
}
.nodeBg-20391273 {
  opacity: 1;
  background-image: var(--image-26);
}
.nodeBg-20391276 {
  opacity: 1;
  background-image: var(--image-27);
}
.nodeBg-20391278 {
  opacity: 1;
  background-image: var(--image-28);
}
.nodeBg-20391282 {
  opacity: 1;
  background-image: var(--image-29);
}
.nodeBg-20391284 {
  opacity: 1;
  background-image: var(--image-30);
}
.nodeBg-20391287 {
  opacity: 1;
  background-image: var(--image-31);
}
.nodeBg-20391289 {
  opacity: 1;
  background-image: var(--image-32);
}
.seamless-adopti-20391291-0 {
  font-size: 27px;
  letter-spacing: -0.56px;
  line-height: 42px;

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}

.experience-a-ha-20391292-0 {
  font-size: 19px;
  letter-spacing: -0.4px;
  line-height: 30px;

  font-family: Abhaya Libre;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
.nodeBg-20391296 {
  opacity: 1;
  background-image: var(--image-33);
}
.nodeBg-20391297 {
  opacity: 1;
  background-image: var(--image-34);
}
.nodeBg-20391298 {
  opacity: 1;
  background-image: var(--image-35);
}
.nodeBg-20391299 {
  opacity: 1;
  background-image: var(--image-36);
}
.nodeBg-20391300 {
  opacity: 1;
  background-image: var(--image-37);
}
.nodeBg-20391301 {
  opacity: 1;
  background-image: var(--image-38);
}
.nodeBg-20391302 {
  opacity: 1;
  background-image: var(--image-39);
}
.personalized-pr-20391304-0 {
  font-size: 27px;
  letter-spacing: -0.56px;
  line-height: 42px;

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}

.create-personal-20391305-0 {
  font-size: 19px;
  letter-spacing: -0.4px;
  line-height: 30px;

  font-family: Abhaya Libre;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #000000ff;
}
