.wrapper-div-20561244 {
  position: relative;
  /* max-width: 1440px; */
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.pet-adoption-20561246-0 {
  font-size: 89px;
  letter-spacing: -3.6px;
  line-height: 99.00000214576721px;

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #ffffffff;
}

.petizen-20561247-0 {
  font-size: 89px;
  letter-spacing: -3.6px;
  line-height: 99.00000214576721px;

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #ffffffff;
}

.pet-adoption-20561248-0 {
  font-size: 89px;
  letter-spacing: -3.6px;
  line-height: 99.00000214576721px;

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #ffffffff;
}

.petizen-20561249-0 {
  font-size: 89px;
  letter-spacing: -3.6px;
  line-height: 99.00000214576721px;

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #ffffffff;
}
.nodeBg-20561253 {
  object-fit: cover;
  opacity: 1;
}
.get-started-tod-20561255-0 {
  font-size: 39px;
  letter-spacing: -1.6px;
  line-height: 44.000000953674316px;

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #ffffffff;
}

.app-store-20561261-0 {
  font-size: 17px;
  letter-spacing: -0.36px;
  line-height: 18px;

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #ffffffff;
}

.google-play-20561266-0 {
  font-size: 17px;
  letter-spacing: -0.36px;
  line-height: 18px;

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: pre-wrap;
  color: #ffffffff;
}

.infopetizencom-20561279-0 {
  font-size: 19px;
  letter-spacing: -0.8px;
  line-height: 22.000000476837158px;

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #ffffffff;
}
