.wrapper-div-20371020 {
  position: relative;
  max-width: 1440px;
  margin: auto;
  padding: 0px;
  box-sizing: border-box;
}
.petizen-20371022-0 {
  font-size: 31px;

  line-height: 32px;

  font-family: Elianto;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #f9655eff;
}

.petizen-20371022-1 {
  font-size: 31px;

  line-height: 32px;

  font-family: Elianto;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}

.en-20371025-0 {
  font-size: 15px;

  line-height: 16px;

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #f9655eff;
}

.es-20371026-0 {
  font-size: 15px;

  line-height: 16px;

  font-family: Abhaya Libre;
  font-weight: 400;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #000000ff;
}

.get-the-app-20371034-0 {
  font-size: 17px;
  letter-spacing: -0.72px;
  line-height: 27px;

  font-family: Abhaya Libre;
  font-weight: 700;

  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: #ffffffff;
}

.button-container {
  background-color: green !important;
}

.button_container1 {
  font-size: 16px;
  color: #ffffff;
  border-radius: 99px;
}

@container (max-width: 300px) {
  .button_container1 {
    font-size: 12px;  
    color: #000000;  
    padding: 4px 8px;  
  }

  .button-container {
    background-color: #ff6600;  
  }
}

@container (min-width: 301px) and (max-width: 600px) {
  .button_container1 {
    font-size: 14px;  
    color: #333333;  
  }

  .button-container {
    background-color: #ff9900; 
  }
}

